# Ignorar archivos compilados y de construcción
target/
*.class

# Archivos de logs
*.log

# Configuración de IDEs
# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Archivos de respaldo de Maven Release Plugin
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

